@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
@{
    int count = 0;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">Hizmetler</h4>

    <div class="card">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <td><strong>@count</strong></td>
                            <td>@item.Title</td>
                            <td>@item.Explanation</td>
                            <td>
                                <a href="/Service/Delete/@item.ServiceId" class="btn btn-sm btn-danger me-2">
                                    <i class="bx bx-trash me-1"></i> Sil
                                </a>
                                <a href="/Service/Update/@item.ServiceId" class="btn btn-sm btn-info">
                                    <i class="bx bx-edit-alt me-1"></i> Güncelle
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a href="/Service/Create" class="btn btn-primary">
            <i class="bx bx-plus me-1"></i> Yeni Hizmet Ekle
        </a>
    </div>
</div>

